# Ignore node_modules directories
/client/node_modules/
/server/node_modules/

# Ignore environment files (if applicable)
.env

# Ignore log files
*.log

# Ignore operating system files
.DS_Store
Thumbs.db
